doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header
            h1=pageTitle
            nav 
                ul 
                    li 
                        a(href="/") Home
                    li 
                        a(href="/search") Search
                    if loggedIn 
                        li 
                            a(href="/videos/upload") 업로드
                        li 
                            a(href=`/users/${loggedInUser._id}`) 나의 프로필
                        li
                            button#logout 로그아웃
                    else
                        li 
                            a(href="/join") 회원가입
                        li 
                            a(href="/login") 로그인
        main
            if errorMessage
                span=errorMessage
            block content
        include partials/footer